h1 {
  color: pink;
  width: 150px;
  height: 150px;
}

.img-reeses{
  width: 250px;

}


p, li, {
  color: pink;
}

p{

  color: pink;
  width: 150px;
  margin: 10;
  border: 5px solid pink;
}




.img-sunbathe{
  width: 300px;
}



.img-bushes{
  width: 300px;
}
















.img-flower{
  width:200px;
}










































.img-tree{
  width:300px;
}
